<div id="landing-banner">
	<div id="expertise">
		<h1>James Russell Diefenderfer</h1>
		<p>A junior student at <strong>UC Berkeley</strong>, majoring in <strong>Electrical Engineering & Computer Science</strong></p>
		<p>Specializes in <strong>software engineering</strong> and <strong>web development</strong></p>
	</div>
</div>
 
<div class="container">
  <div class="row">
    <div class="span8">
      <h3>Goodbye</h3>
    </div>
    <div class="span4">
      <h3>Hello</h3>
    </div>
  </div>
</div> <!-- /container -->