<div class="carousel">
	<div id="expertise">
		<h1>James Russell Diefenderfer</h1>
		<p>A junior student at <strong>UC Berkeley</strong>, majoring in <strong>Electrical Engineering & Computer Science</strong></p>
		<p>Specializes in <strong>software engineering</strong> and <strong>web development</strong></p>
	</div>
	<img src="<%= asset_path('/photos/halfdome2.jpg') %>" alt="Beautiful Half Dome">
</div>
 
<div class="container">
	
</div> <!-- /container -->