<footer>
  <div class="container">
    <p>Designed and built in Berkeley, California</p>
    <p>All content &copy; 2014 James Russell Diefenderfer. All rights reserved.</p>
    <ul id="validation">
      <li>
        <a href="http://validator.w3.org/check?uri=http://jimmydief.com{{ page.url }}">
          <img src="/images/validation/validhtml5.png" alt="Valid HTML5!">
        </a>
        </li>
      <li>
        <a href-"http://jigsaw.w3.org/css-validator/validator?uri=jimmydief.com/css/main.css">
          <img src="/images/validation/validcss.png" alt="Valid CSS!">
        </a>
      </li>
    </ul>
  </div> <!-- /container -->
</footer>
