<%- title "About Me" %>

<div class="container">
	<div class="row">
		<div class="span12">
			<div class="page-header">
				<h1><i class="icon-user"></i> About Me <small>What makes me who I am today</small></h1>
				<p>I have been fortunate enough to work on several exciting projects on the side while pursuing my education at Berkeley.</p>
			</div>
		</div>
	</div> <!-- /row -->
	<div class="row">
		<div class="span12">
			<div class="lead-picture">
				<a href="<%= asset_path('/photos/soccer.jpg') %>" title="Picture from my senior year of high school soccer">
					<img data-src="<%= asset_path('/photos/soccer.jpg') %>" src="<%= asset_path('/photos/soccer.jpg') %>" class="img-rounded" alt="">
				</a>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et ultricies justo. Nullam sit amet orci id augue pharetra viverra quis vel arcu. Cras ut massa magna. Aenean porta velit et tellus tincidunt vel fermentum tellus vulputate. Aenean sodales, purus sed hendrerit feugiat, est augue gravida est, sit amet laoreet est lectus quis tellus. Proin vel turpis id nibh lacinia fringilla. Proin auctor interdum scelerisque. Duis eu velit ligula, et lacinia dui. Maecenas porta aliquam nisl, et cursus orci facilisis euismod. Vivamus eu placerat augue. Suspendisse mattis interdum felis a dapibus. Vestibulum quis libero nisl. Donec lorem erat, lacinia sed gravida at, fermentum in justo. Maecenas vel lorem ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin nulla magna, tempor et scelerisque vitae, pulvinar et odio.</p>
			<p>Sed aliquam, urna a mattis interdum, lectus ipsum faucibus nulla, ut ultrices dui quam non dolor. Sed molestie nulla eget neque consectetur luctus. Curabitur placerat, magna at sollicitudin luctus, magna lorem viverra justo, interdum volutpat mauris odio at libero. Etiam nisi sapien, rutrum et porta et, pulvinar vel nisl. Suspendisse lorem velit, viverra eu imperdiet eget, commodo at magna. Sed pulvinar mattis dignissim. Pellentesque nisi risus, vestibulum in vehicula sit amet, vestibulum sit amet justo. Donec rhoncus nisi vel ligula interdum ac tristique ante vehicula. Donec accumsan nisi eu tortor auctor ac ultrices purus dapibus. Pellentesque blandit fermentum magna, sed gravida ipsum tempus a.</p>	
			<p>Sed nisl dolor, gravida ut lacinia vitae, blandit id velit. Praesent auctor volutpat vestibulum. Morbi hendrerit nisl sed magna rutrum posuere. Duis vestibulum erat sed neque rhoncus euismod. Fusce non porttitor nulla. Curabitur quis sapien ut metus bibendum aliquet vitae eu quam. Mauris aliquam posuere nulla vel lobortis. Donec rhoncus enim vitae neque pellentesque malesuada.</p>	
			<p>Nullam porttitor congue commodo. Morbi nec ipsum congue neque vulputate lobortis. Nam quam enim, volutpat ut blandit a, tempus quis lorem. Aenean luctus, quam vel ornare eleifend, magna velit congue diam, id tristique dolor purus non enim. Duis scelerisque, elit sit amet ultricies ultrices, odio dolor pulvinar dui, quis malesuada turpis quam quis lectus. Aenean vitae dolor sed purus ornare venenatis. In porta diam eu arcu mollis sed vestibulum odio vulputate. Morbi dictum luctus ante eu consequat. Duis scelerisque nulla vel tortor venenatis sed adipiscing purus hendrerit. Curabitur est massa, varius at varius id, facilisis et tortor. Cras id leo vel metus dignissim mollis a sed quam. Maecenas mollis nisi at magna luctus pretium. Nulla facilisi. Duis porta nibh volutpat ligula eleifend at rutrum nisl ornare. Suspendisse potenti.</p>
			<p>Cras aliquet purus sed odio tempus posuere. Nulla consequat risus a dolor semper fringilla. Mauris sagittis risus quis magna iaculis vulputate. Nunc molestie, diam et interdum varius, ligula libero fringilla urna, ut fringilla purus urna nec eros. Aliquam dignissim egestas justo sit amet egestas. Pellentesque ante lacus, mattis at tincidunt sit amet, ornare at neque. Aliquam a eros vel justo aliquam pulvinar dictum nec magna. Suspendisse non orci sem. Donec et hendrerit lorem. Curabitur malesuada justo nec sapien imperdiet eu auctor quam posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum in facilisis odio. Aenean malesuada elementum dui.</p>
		</div>
	</div> <!-- /row -->
</div> <!-- /container -->