<%- title "Resumé" %>

<div class="container">
	<div class="row">
		<div class="span12">
			<div class="page-header">
				<h1><i class="icon-file-alt"></i> Resumé <small>What makes me who I am today</small></h1>
				<p>I have been fortunate enough to work on several exciting projects on the side while pursuing my education at Berkeley.</p>
			</div>
		</div>
	</div> <!-- /row -->
	<div class="row">
		<div class="span12">
			<figure class="lead-picture">
				<a href="/files/resume.pdf">
					<img src="<%= asset_path('/photos/resume.png') %>" class="img-rounded" alt="Resume">
					<figcaption>Click to Download PDF</figcaption>
				</a>
			</figure>
			
			<h4>Education</h4>
      <p>University of California, Berkeley	(Expected Graduation: May 2015)</p>
      <p>Major: Electrical Engineering and Computer Science</p>
      <h5>Relevant Courses:</h5>
      <ul>
        <li>CS 61A: Structure and Interpretation of Computer Programs (Python)
        <li>CS 61B: Data Structures (Java)
        <li>CS 61C: Machine Structures (C)
        <li>CS 70: Discrete Mathematics and Probability Theory
      </ul>
      <h5>In Progress:</h5>
      <ul>
        <li>CS 170: Efficient Algorithms and Intractable Problems
        <li>CS 186: Introduction to Database Systems
        <li>CS 161: Computer Security
      </ul>

      <h4>Professional Experience</h4>
      <h5>Software Engineering Intern, Launchpad Toys (San Francisco)</h5>
      <p>Launchpad Toys is a Y Combinator backed startup creating digital toys and tools that empower kids to create, learn, and share their ideas through play. Their main products are Toontastic – an Apple Hall of Fame iPad app – and Toontube – a global storytelling network</p>
      <h5>May - August, 2013</h5>
      <ul>
        <li>Worked on a major backend refactor of the company’s Ruby-on-Rails app, Toontube, that made parts of the site 10x more performant and significantly more reliable for users
        <li>Designed and created a versioned, well-tested REST API for user authentication and retrieving content to be used by mobile apps from Launchpad Toys and other companies. This authorization system was designed to be compliant with new requirements for children’s apps necessitating parental approval before storing any customer data
        <li>Planned and built a content-tagging feature using Ruby that allows company staff to highlight their favorite user content and share it with users who have the same tastes
        <li>Built a Javascript bookmarklet for employees to tag their favorite user-submitted content
        <li>Developed an administrative section of the site for employees to respond to user support requests and remotely manage most facets of their data driven apps and websites
        <li>Using Ruby and the APIs for Facebook and Twitter, created social media scrapers to track daily likes and shares for user content across those social networks
        <li>Implemented several engaging user interfaces for the authentication flow of one of the company’s iPad apps while learning Objective-C
      </ul>
      <h5>June - August, 2012</h5>
      <ul>
        <li>Built an academic research tool with Ruby-on-Rails used to query the company’s large database of users and content, compute statistics, and create graphs using D3.js from the data. The app was used by researchers from Pearson Education to analyze the qualitative and quantitative educational benefits of Toontastic
        <li>Worked on the video-sharing site Toontube, completing refactors that greatly increased the site’s speed and adding several new features to provide users with curated content
      </ul>      <h4>Extracurricular Activities</h4>
      <h5>Cal Ski & Snowboard Club	(2012 - Present)</h5>
      <h5>Theta Chi Fraternity	(2011 - Present)</h5>
      <ul>
        <li>External Philanthropy Chairman (Fall 2013)
        <ul>
          <li>Organized group participation in community service. The chapter completed over 300 hours of service in one semester and held an event to raise money for disabled veterans
        </ul>
        <li>Recruitment Chairman (Spring 2013)
        <ul>
          <li>Planned and executed two weeks full of rush events in order to recruit new members
          <li>As part of executive board, made major decisions and controlled $200,000+ budget
        </ul>
      </ul>
		</div>
	</div> <!-- /row -->
</div> <!-- /container -->